{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>timeline</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style_timeline.css' %}" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'hello/js/index.js' %}"></script>
</head>

<body>
    <div id="timeline-body">
    <h1>Timeline</h1>

    <div>
        <button class="mypage"><a href="{% url 'mypage' user.id %}">My Page</a></button>
        <button class="mypage"><a href="{% url 'tweet' user.id %}">Tweet!</a></button>
    </div>
    <hr>
    <div>
        {% if timeline %}
        {% for tweet in timeline %}
        <div class="ret">

            <button><a class="username" href="{% url 'profile' user.id tweet.user_id %}">
                            {{tweet.username | linebreaksbr}}</a></button><br>
            <p><a class="tweet" href="{% url 'detail' user.id tweet.id %}">{{ tweet.tweet }}</a></p>
            <small class="time">{{ tweet.posted_at }} </small>
            <div class="like">
                <button><a class="LIKE" href="{% url 'like_list_tweet' user.id tweet.id %}">Like</a>: <span
                        id="like{{tweet.id}}">{{tweet.like}}</span></button>

                <button onclick="like({{user.id}}, {{tweet.id}});">
                    <span id="heart{{tweet.id}}">
                        {% if tweet.id in like_list %}
                        💗
                        {% else %}
                        ❤
                        {%endif%}
                    </span></button> |
                <button><a href="{% url 'reply' user.id tweet.id %}"><img src="{% static 'hello/img/fukidashi_bw03.png' %}"
                        alt="no image" width="25px" height="25px"></a></button>
                <button class="delete"><a href="{% url 'delete' user.id tweet.id %}">delete</a></button>

            </div>
        </div>
        <hr>
        {% endfor %}
        {% else %}
        <p>No tweet.</p>
        {% endif %}

    </div>
    </div>
</body>

</html>