{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>tweet</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style_timeline.css' %}" crossorigin="anonymous">
</head>

<body>
    <form action="{% url 'tweet_post' user.id %}" method="post">
        {% csrf_token %}
        <div>
            <textarea class="box" id="textInput" name="text" cols="200" rows="30" placeholder="今の気持ちをつぶやいてみよう！"></textarea>
        </div>
        <div class="center">
            <button class="button" type="submit">送信</button>

        </div>
    </form>
</body>

</html>